In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
sns.set(style="darkgrid")

In [2]:
df = pd.read_csv('fortune500.csv')

In [4]:
df.head()

   test  test1             test2   test3  test4
0  1955      1    General Motors  9823.5    806
1  1955      2       Exxon Mobil  5661.4  584.8
2  1955      3        U.S. Steel  3250.4  195.4
3  1955      4  General Electric  2959.1  212.6
4  1955      5            Esmark  2510.8   19.1

In [3]:
df.columns = ["test","test1","test2","test3","test4"]

In [5]:
len(df)

25500